{% extends 'base.html' %}

{% block content %}

<div class="row mt-3">
  <div class="col-sm-6"> <h3>{{exam}} </h3></div>
  <h3 id="timer" class="col-sm-6 text-end"></h3>
</div>

<div class="row">
  <div class="col-sm-12">

    <form id="exam" method="POST">
      {% csrf_token %}

      <div class="swiper-container">

        <div class="swiper-scrollbar"></div>

        <div class="swiper-wrapper">

          {% for question in questions %}

          <div class="swiper-slide">

            <div class="card">

              <div class="card-header">
                <p>{{question.body|linebreaks}}</p>

                {% if question.audio %} 
                  <audio controls>
                    <source src="{{question.audio.url}}" type="audio/ogg">
                  </audio> 
                {% endif %} 

                {% if question.image %} 
                  <img src="{{question.image.url}}" alt="" width="100" height="100"> 
                {% endif %}
              </div>
        
              <div class="card-body">
                <div class="list-group list-group-flush">
            
                  {% for choice in question.questionchoice_set.all %}
                    <div class="list-group-item list-group-item-action">
                        <div class="form-check">
                          <input type="radio" id="{{question.id}}_{{choice.id}}" name="{{question.id}}" value="{{choice.id}}" class="form-check-input">

                          <label class="form-check-label" for="{{question.id}}_{{choice.id}}">
                            <p>{{choice.body}}</p>

                            {% if choice.audio %} 
                              <audio controls>
                                <source src="{{choice.audio.url}}" type="audio/*">
                              </audio> 
                            {% endif %} 

                            {% if choice.image %} 
                              <img src="{{choice.image.url}}" alt="" width="100" height="100"> 
                            {% endif %}

                          </label>
                        </div>
                    </div>
                      
                  {% endfor %}
                    
                  </div>
        
              </div>
            </div>

          </div>

          {% endfor %}

        </div>

        <div class="row">
          <div class="col-sm-12 mt-4">
            <button type="button" class="btn prev btn-primary">&#10094; Previous</button>
            <button type="button" class="btn next btn-info">Next &#10095;</button>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 mt-4">
            <button type="submit" class="btn prev btn-primary"> Submit</button>
          </div>
        </div>
      
      </div>

    </form>

   
  </div>
</div>

{% endblock content %}



{% block scripts %}
  <script>
    const swiper = new Swiper('.swiper-container', {
      // Optional parameters
      direction: 'horizontal',
      loop: false,
      allowTouchMove: false,
      autoHeight: true,

      // If we need pagination
      pagination: {
        el: '.swiper-pagination',
      },

      // And if we need scrollbar
      scrollbar: {
        el: '.swiper-scrollbar',
      },
    });

    document.querySelectorAll('.next').forEach(item => {
      item.addEventListener('click', event => {
        swiper.slideNext()
      })
    })
    document.querySelectorAll('.prev').forEach(item => {
      item.addEventListener('click', event => {
        swiper.slidePrev()
      })
    })

  </script>

{% endblock %}
